<div class="user-menu">
  @if (auth.isLoggedIn()) {
    <div class="user-menu__panel-wrap">
      <button
        type="button"
        class="user-trigger"
        (click)="toggleMenu($event)"
      >
        <i class="pi pi-user"></i>
        <span>{{ auth.getUsername() }}</span>
      </button>

      @if (open()) {
        <div class="user-menu__panel" (click)="$event.stopPropagation()">
          <button type="button" class="user-menu__item" (click)="goPreferences()">
            {{ ui.userMenu.preferences }}
          </button>
          <button type="button" class="user-menu__item" (click)="goChangePassword()">
            {{ ui.userMenu.changePassword }}
          </button>
          <button type="button" class="user-menu__item user-menu__item--danger" (click)="logout()">
            {{ ui.userMenu.logout }}
          </button>
        </div>
      }
    </div>
  } @else {
    <button class="user-trigger" type="button" (click)="goLogin()">
      {{ ui.userMenu.login }}
    </button>
  }
</div>
